/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
/*
.nav-list a {
    font-size: 40px;
}
.nav-content {
    margin-top: 5%;
}

.bgimage-sample {
    width: 80%;
    max-width: 80%;
    height: 480px;
    min-height: 480px;
    max-height: 480px;  
    margin-top: 10%;
}
footer {
    margin-top: 10%;
    font-size: 16px;
}
*/